*{
    margin: 0px;
    padding: 0px;
}
.home{
    background-color: brown;
    height: 750px;
    display: flex;
     flex-direction: row;
}
.divOne{
     height: 100%;
     width: 50%;
     background-color: aqua;
}
.first{
    background-color: beige;
}
.box{
    
    margin-left: 120px;
    margin-top: 100px;
    height: 50%;
    width: 70%;
    
}
.home heading1{
    font-size: 30px;
}
.heading2{
    font-size: 60px;
}

.heading2 span{
    color: yellow;
     
}


h3{
    background-color: yellow;
    width: 60%;
    margin-left: 30px
                                                                                                                                             ;
}
.heading3{
    background-color: yellow;
    width: 40%;
}
.home{
    background-color: yellow;
    height: 500px;
}